$nav:(
    color: black,
    t-d: none,
    font-f: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,
    font-sz: 18px,
    list-s: none,


);
$nav-u:(
    gap: 60px,
    mar-l: 350px,
);
$hover:(
    t1: scale(1.3),
    t2: all 1.3s,
);